<!--
  Generated template for the GamePlay page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Game Page</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <div *ngIf="this.GameRenderer !== undefined" >

    <p>Black Card:</p>
    <div *ngIf="this.GameRenderer.blackCard !== undefined">
      {{this.GameRenderer.blackCard.content}}
    </div>

    <p>TEXT: {{this.GameRenderer.text}}</p>

    <ul>
      <li *ngFor="let card of this.GameRenderer.cardsPlayed; let i = index">
        <button *ngIf="this.GameRenderer.clickable" (click)="this.GamePlay.pickWinningCard(card);" > {{i+1}} {{card.content}} </button>
        <div *ngIf="!this.GameRenderer.clickable"> {{card.content}} </div>
      </li>
    </ul>

    <ul>
      <li *ngFor="let card of this.GameRenderer.hand; let i = index">
        <button (click)="this.GamePlay.playCard(card);" > {{card.content}} </button>
      </li>
    </ul>

    <button *ngIf="this.GameRenderer.continueButton" (click)="this.GamePlay.requestContinue()">Continue</button>

  </div>

</ion-content>
